.Pagination {
  width: 100%;
  padding: 20px 0px;
  h2 {
    text-align: left;
    color: #222;
    font-size: 26px;
    display: block;
    width: 900px;
    margin: 20px auto;
  }
  &__links {
    width: 900px;
    margin: 20px auto;
    display: flex;
    justify-content: left;

    & > button {
      border: none;
      outline: none;
      color: #222;
      background: #fff;
      font-size: 14px;
      padding: 10px;
      font-weight: 700;
      margin: 0px 5px;

      &:first-child {
        margin-left: 0px;
      }

      &:last-child {
        margin-right: 0px;
      }

      &.active {
        color: white;
        background: #222;
      }
    }
  }
}
