.Filter {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 30px auto;
  label {
    color: #222;
    background: #fff;
    font-size: 14px;
    padding: 12px 34px 13px;
    font-weight: 700;
    &.active {
      color: white;
      background: #222;
    }
    & > input {
      height: 0px;
      width: 0px;
      opacity: 0;
      position: absolute;
    }
  }
}
