.Header {
  background: #222;
  position: relative;
  padding: 80px 120px;
  margin-bottom: 120px;

  &__wrap {
    width: 900px;
    margin: 30px auto;
    & > h1 {
      text-align: left;
      color: white;
      line-height: 1.3;
      margin-bottom: 20px;
      font-size: 42px;
    }

    & > h2 {
      text-align: left;
      color: white;
      font-size: 26px;
    }
  }

  &::after {
    content: "";
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='160' viewBox='0 0 1600 159.282'%3E%3Cpath d='M0 14.644s177.776 1.894 323 29.794 248.65 51.513 458 1 386.01-55.958 485-30.794 334 0 334 0V150.87s-147.44 31.882-387-28.432-296.01-20.17-487 14-297.67-33.671-437-38C176.625 94.947 88.452 127.581 0 150.87V14.644z' fill='%2328c382' fill-rule='evenodd' opacity='.6'/%3E%3C/svg%3E");
    background-position: 0;
    background-repeat: repeat-x;
    background-size: contain;
    bottom: -80px;
    height: 160px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}
